<section class="about">
  <div class="about__inner">

    <div class="about__image-wrapper">
      <img
        class="about__image"
        src="assets/img/profile.jpg"
        alt="Atahar Hossain"
      />
    </div>

    <div class="about__text">
      <h2 class="about__heading">{{ content().heading }}</h2>
      <p class="about__subheading">{{ content().subheading }}</p>
      <p class="about__paragraph">{{ content().paragraph }}</p>

      <div class="about__tags">
        <span class="about__tag">{{ content().location }}</span>
        <span class="about__tag about__tag--available">{{ content().available }}</span>
      </div>
    </div>

  </div>
</section>
